<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fixed.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
  <title>CallMe</title>
</head>

<div class="video-background" >
	<div class="video-wrap">
		<div id="video">
			<video id="bgvid" autoplay loop muted playsinline>
				<source src="{{ url_for('static', filename='videos/stars.mp4') }}" type="video/mp4">
			</video>
		</div>
	</div>
</div>

<div class="caption text-center">
	<h1>I am a click away!</h1>
  <h3 class="text-center">
      <a class="btn btn-primary "  href="tel:+91-9898012345">Call Me</a>
  </h3>

</br>
</br>
  	<div id="ip-address"></div>
  	<div id="location"></div>
  	<div id="browser-language"></div>
  <div id="isp"></div>
  
 
</div>




<!--- Script Source Files -->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-4.1.3-dist/js/bootstrap.min.js') }}"></script>
<!--- End of Script Source Files -->

<!----Geolocation
<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}

</script>
---->


    
  <script>
    const languageMapping = {
      'en': 'English',
      'fr': 'French',
      'de': 'German',
      'it': 'Italian',
      'es': 'Spanish',
      'pt': 'Portuguese',
      'ru': 'Russian',
      'zh': 'Chinese',
      'ja': 'Japanese',
      'ar': 'Arabic'
    };

    fetch('https://api.ipify.org?format=json')
      .then(response => response.json())
      .then(data => {
        const ip = data.ip;
        document.querySelector('#ip-address').innerHTML = ip;
        return fetch(`https://ipapi.co/${ip}/json/`);
      })
      .then(response => response.json())
      .then(data => {
        document.querySelector('#location').innerHTML = `${data.city}, ${data.region}, ${data.country_name},`;
        const browserLanguage = navigator.language.substr(0, 2);
        document.querySelector('#browser-language').innerHTML = languageMapping[browserLanguage] || browserLanguage;
        document.querySelector('#isp').innerHTML = data.org;
      })
      .catch(error => console.error(error));
  </script>
<!--
  <script>
    if (screen.width >= 768) {
      window.location.href = "web-index.html";
    }
  </script>
-->
</body>

</html>


<!-- End View in Browser -->